{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Create Election{% endblock %}
{% block content %}
<main class="main">
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center">Create Election</h2>
              {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
              <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Create Election</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
