{% extends "base.html" %}

{% block title %}Online Voting System{% endblock %}

{% block content %}
<div class="jumbotron" style="display: absolute; text-align: center;">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <h1>Welcome to Online Voting System</h1>
  <h3>This is a simple voting application for small organization.</h3>
</div>
<div class="voting-container">
  <h1>Everything You Need to Vote</h1>
  <div class="voting-actions">
    <a href="{% url 'registration' %}" class="btn">Register to Vote</a>
    <a href="#" class="btn">Check Voter Registration</a>
    <a href="#" class="btn">Find Your Polling Place</a>
    {% for candidate in candidates %}
    <h3>{{ candidate.name }}</h3>
    <p>Position: {{ candidate.position.title }}</p>
    <p><a href="{% url 'learn_about_candidate' candidate.pk %}">Learn More</a></p>
  {% endfor %}
  </div>
</div>

{% endblock %}
