{% extends "base.html" %}

{% block title %}Candidate Details{% endblock %}

{% block content %}
<div class="card">
  <img src="{{ obj.image.url }}" class="card-img-top" alt="Candidate Image">
  <div class="card-body">
    <h5 class="card-title">{{ obj.name }}</h5>
    <p class="card-text">Position: {{ obj.position }}</p>
    <p class="card-text">District: {{ obj.district }}</p>
    <p class="card-text">County: {{ obj.county }}</p>
    <p class="card-text">Party: {{ obj.party }}</p>
  </div>
</div>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.name.label }}: {{ form.name }}<br>
  {{ form.position.label }}: {{ form.position }}<br>
  {{ form.district.label }}: {{ form.district }}<br>
  {{ form.county.label }}: {{ form.county }}<br>
  {{ form.party.label }}: {{ form.party }}<br>
  {{ form.image.label }}: {{ form.image }}<br>
  Candidate Key: {{ form.candidate_key }}<br>
  {% if form.candidate_key.errors %}
    <p class="error">{{ form.candidate_key.errors }}</p>
  {% endif %}
  <input type="submit" value="Save">
</form>

  {% endblock %}