{% extends "base.html" %}

{% block title %}Candidate Details{% endblock %}

{% block content %}
<div class="card">
  <a href="https://lh3.googleusercontent.com/35BkOJhkYDPQwXwHPuI9Y-FAUTNEB33jKyqFvl3cZ523ctg3Nz9ebAYH5l6n3SpZXXj6mhb6F2NScVZf8hbYSbIyIuXIa2YXQf8z_RaYKT0a2qLGILOtvG81S1TyFA6SnVf6OAz7nA=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/35BkOJhkYDPQwXwHPuI9Y-FAUTNEB33jKyqFvl3cZ523ctg3Nz9ebAYH5l6n3SpZXXj6mhb6F2NScVZf8hbYSbIyIuXIa2YXQf8z_RaYKT0a2qLGILOtvG81S1TyFA6SnVf6OAz7nA=w600-h315-p-k" /> </a>
  <div class="card-body">
    <h5 class="card-title">{{ obj.name }}</h5>
    <p class="card-text">Position: {{ obj.position }}</p>
    <p class="card-text">District: {{ obj.district }}</p>
    <p class="card-text">County: {{ obj.county }}</p>
    <p class="card-text">Party: {{ obj.party }}</p>
  </div>
</div>
{% endblock %}