{% extends "base.html" %}

{% block title %}Candidate Details{% endblock %}

{% block content %}
<div class="card">
  <img src="{{ obj.image.url }}" class="card-img-top" alt="Candidate Image">
  <div class="card-body">
    <h5 class="card-title">{{ obj.name }}</h5>
    <p class="card-text">Position: {{ obj.position }}</p>
    <p class="card-text">District: {{ obj.district }}</p>
    <p class="card-text">County: {{ obj.county }}</p>
    <p class="card-text">Party: {{ obj.party }}</p>
  </div>
</div>
{% endblock %}