{% extends "base.html" %}

{% block title %}Online Voting System{% endblock %}

{% block content %}
<div class="jumbotron" style="display: absolute; text-align: center;">
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
  <h1>Welcome to Online Voting System</h1>
  <h3>This is a simple voting application for small organization.</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <blockquote class="inner-block">
        <span class="fa fa-3x fa-quote-right"></span>
        <p class="block-text" id="quoteText">
          If it is on the Internet, it must be true.
        </p>
        <hr>
        <div>
          <p class="pull-left" id="quoteAuthor">
            Albert Einstein
          </p>
          <p class="pull-right">
            <span class="badge" id="quoteLikes">69</span>
            <span class="fa fa-heart"></span>
          </p>
        </div>
      </blockquote>
    </div>
  </div>
</div>

<div class="voting-container">
  <h1>Everything You Need to Vote</h1>
  <div class="voting-actions">
    <a href="{% url 'registration' %}" class="btn">Register to Vote</a>
    <a href="#" class="btn">Check Voter Registration</a>
    <a href="#" class="btn">Find Your Polling Place</a>
    {% for candidate in candidates %}
    <h3>{{ candidate.name }}</h3>
    <p>Position: {{ candidate.position.title }}</p>
    <p><a href="{% url 'learn_about_candidate' candidate.pk %}">Learn More</a></p>
  {% endfor %}
  </div>
</div>

{% endblock %}
